* {box-sizing: border-box;
}

#ball{
  border: 10px solid black;
  height:200px;
  width: 200px;
  border-radius: 50%;
  background:linear-gradient(red,red,red,white,white,white);
  animation: shake 1s infinite alternate;
}

@keyframes shake{
  0%{
    transform: rotate(45deg);
  }
  
  50%{
    width:200px;
     height:340px;
  }
  100%{
    transform: rotate(-45deg);
  }
}

#bar {
  width: 100%;
  height: 10%;
  background:black;
  margin-top:46%;
}

#button{
  width: 30%;
  height: 30%;
  background: white;
  top: -20%;
  left: 35%;
  position: relative;
  border: solid 5px;
  border-radius: 50%;
}

#center{
  width: 50%;
  height: 50%;
  background: white;
  top: 22%;
  left: 27%;
  position: relative;
  border: solid 5px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px 3px grey;
}